# Google OAuth Client ID
# https://console.cloud.google.com/apis/credentials
VITE_GOOGLE_CLIENT_ID=

# Stellar / Soroban
VITE_STELLAR_RPC_URL=
VITE_STELLAR_HORIZON_URL=
VITE_STELLAR_NETWORK_PASSPHRASE=
VITE_STELLAR_NETWORK_NAME=
VITE_STELLAR_FACTORY_ADDRESS=
VITE_STELLAR_VESTING_ADDRESS=
VITE_STELLAR_JWK_REGISTRY_ADDRESS=
VITE_STELLAR_VERIFIER_ADDRESS=
VITE_STELLAR_TOKEN_ADDRESS=
VITE_STELLAR_NATIVE_TOKEN_ADDRESS=
VITE_STELLAR_EXPLORER_URL=

# Pinning proxy
VITE_PIN_PROXY_URL=
