# .env
.env

# circuits
circuits/Prover.toml
circuits/target/

# poc
poc/node_modules
poc/dist
poc/public/wasm/*.wasm
poc/public/wasm/*.wasm.gz
poc/public/circuits/zarf.json

# contracts
contracts/cache/
contracts/out/
contracts/broadcast/

# notes, backlogs, docs & ai
docs/
.agent
*.md
_backlogs/
reports/
**/*.md
**/_backlogs/
.DS_Store
!whitelist.sample.csv
.csv