@import "tailwindcss";

@plugin "daisyui" {
    themes: nord --default, wireframe, dim;
}

@plugin "daisyui/theme" {
    name: "dim";
    default: false;
    prefersdark: false;
    color-scheme: "dark";
    --color-base-100: oklch(12% 0 0);
    --color-base-200: oklch(14% 0 0);
    --color-base-300: oklch(16% 0 0);
    --color-base-content: oklch(90% 0 0);
    --color-primary: oklch(90% 0 0);
    --color-primary-content: oklch(12% 0 0);
    --color-secondary: oklch(70% 0 0);
    --color-secondary-content: oklch(12% 0 0);
    --color-accent: oklch(80% 0 0);
    --color-accent-content: oklch(12% 0 0);
    --color-neutral: oklch(10% 0 0);
    --color-neutral-content: oklch(90% 0 0);
    --color-info: oklch(70% 0 0);
    --color-info-content: oklch(12% 0 0);
    --color-success: oklch(80% 0 0);
    --color-success-content: oklch(12% 0 0);
    --color-warning: oklch(85% 0 0);
    --color-warning-content: oklch(12% 0 0);
    --color-error: oklch(75% 0 0);
    --color-error-content: oklch(12% 0 0);
    --radius-selector: 1rem;
    --radius-field: 0.5rem;
    --radius-box: 1rem;
    --size-selector: 0.25rem;
    --size-field: 0.25rem;
    --border: 1px;
    --depth: 0;
    --noise: 0;
}